<!DOCTYPE html>
<html>
  <head>
    <title>pinterest</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
    rel="stylesheet"/>
      <script src="https://cdn.tailwindcss.com"></script>

  </head>
  <body>

<% if(nav===true){%>

  
      <div class="w-full px-10 py-3 flex justify-between bg-zinc-700 text-white items-center">
  <h2>Pinterest</h2>
  <div class="flex justify-between gap-4 items-center">
    <a href="/profile">Profile</a>
    <a href="/feed">Feed</a>
    <a href="/logout" class="bg-red-800 px-3 py-2 text-white rounded-md">Logout</a>
  </div>
      </div>

  <%}%>