<%-include('./partials/header.ejs')-%>
<div class="w-full min-h-screen bg-zinc-700 px-10 py-5 text-white">
<h1 class="text-xl">Create a new post.</h1>
<hr class="mt-3 opacity-10">

<form action="/createpost" method="post" enctype="multipart/form-data">
    <input  class="block text-black w-1/3 px-3 py-2" type="file" id="" name="postimage">
    <input class="block text-black  w-1/3 px-3 py-2 border-2 mt-2 rounded-md" type="text" name="title" id="" placeholder="Title">
    <textarea  class="block text-black w-1/3 h-60 px-3 py-2 border-2 mt-2 rounded-md" type="text" name="description" id="" placeholder="Description"></textarea>
    <input  class="block w-1/3 px-3 py-2  mt-2 bg-red-800"type="submit" value="Create Post">
</form>

</div>
<%-include('./partials/footer.ejs')-%>